---
layout: site
title: Altoros Team
---
<nav>
  <ul>
    <li><a class="active" href="/index.html">Home</a></li>
    <li><a href="/repo.html">Repositories</a></li>
    <li><a href="/blog/index.html">Github Blog</a></li>
    <li><a href="/contact.html">Contact Us</a></li>
  </ul>
</nav>
<hr>
<h2 class="inline">Repositories</h2> <a class="all" href="/repo.html">See all</a>
<div id="home-github-projects"></div>

<h2 class="inline">Github Blog</h2> <a class="all" href="/blog/index.html">See all</a>
{% for page in site.posts | sort: 'date' | sort: 'url' | limit: 10 %}
<div class="page">
  {% include page_meta.html %}
  <div class="page_contents">
    <p>Sorry, the blog has been moved to a new address.</p> 
  </div>
  {% include social_links.html %}
  <a href="{{page.url}}" class="more" rel="bookmark" title="Permalink to {{page.title}}">Continue reading this post</a>
</div>
{% endfor %}
