        <div id="title">
          <!-- <h1><a href="{{ site.url }}">Altoros Team</a></h1> -->
          <p><img class="rails" src="/images/logo-rails.png" /><img class="cloud-foundry" src="/images/logo-cloud-foundry.png" />Altoros is a big data and Platform-as-a-Service specialist that provides system integration for IaaS/cloud providers, software companies, and information-driven enterprises. Areas of expertise include Cloud Foundry, Hadoop, and NoSQL solutions, as well as Microsoft .NET, Java, Ruby on Rails, and mobile technologies.</p>
          <!-- <pre>Dir["notes/*"].each{|nn| puts File.read(nn)}</pre> -->
          <span class="credits">Written by <a href="https://github.com/Altoros">altoros</a><br />
          <a class="rss" href="http://feeds.feedburner.com/altoros-team">RSS Subscribe</a></span>
        </div>
