  <aside>
    <div class="logo"><a href="http://altoros.github.io/"></a></div>
    <p>
      <a href="http://www.altoros.com" target="_blank">www.altoros.com</a><br />
      <a href="mailto:engineering@altoros.com">engineering@altoros.com</a><br />
      <a href="http://blog.altoros.com" target="_blank">blog.altoros.com</a><br />
    </p>
    <p>+ 1 (650) 395-7002</p>
    <div class="linkedin"><a href="http://www.linkedin.com/company/altoros-systems" target="_blank">Follow Altoros</a></div>
    <div class="twitter"><a href="https://twitter.com/altoros" target="_blank">Follow @altoros</a></div>
    <a class="whitepapers" href="http://altoros.com/download_white_papers.html"></a>
    <a class="partners" href="http://www.altoros.com/partners_summary.html"></a>
  </aside>
