  <aside>
    <div class="logo"></div>
    <p>
      <a href="http://www.altoros.com">www.altoros.com</a><br />
      <a href="mailto:engineering@altoros.com">engineering@altoros.com</a><br />
      <a href="http://blog.altoros.com">blog.altoros.com</a><br />
    </p>
    <p>+ 1 (650) 395-7002</p>
    <div class="linkedin"><a href="http://www.linkedin.com/company/altoros-systems">Follow Altoros</a></div>
    <div class="twitter"><a href="https://twitter.com/altoros">Follow @altoros</a></div>
    <a class="customers" href="http://www.altoros.com/partial_customer_list.html"></a>
    <a class="partners" href="http://www.altoros.com/partners_summary.html"></a>
  </aside>
