<div class="social_links">
  <ul>
    <a href="https://plus.google.com/share?&url={{site.url}}{{page.url}}" target="_blank">
      <li class="googleplus"></li>
    </a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title={{page.title}}&summary={{page.summary}}&source=Altoros%20Team" target="_blank">
      <li class="linkedin"></li>
    </a>
    <a href="https://twitter.com/share?url={{site.url}}{{page.url}}&text={{page.title}}" target="_blank">
      <li class="twitter">
      </li>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}"  target="_blank">
      <li class="facebook"></li>
    </a>
  </ul>
</div>
