---
layout: site
---

<nav>
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/repo.html">Repositories</a></li>
    <li><a class="active" href="/blog/index.html">Github Blog</a></li>
    <li><a href="/contact.html">Contact Us</a></li>
  </ul>
</nav>
<hr>
{% include page_meta.html %}
<div class="page_contents">
  {{ content }}
</div>
{% include social_links.html %}
<div id="disqus_thread"></div>
<script type="text/javascript">
var disqus_shortname = 'avsej';
var disqus_shortname = 'altoros';
var disqus_identifier = '{{page.url}}';
var disqus_url = '{{site.url}}{{page.url}}/';

(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
