<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygments.css" media="screen" />
    <link rel="alternate" href="http://feeds.feedburner.com/altoros-team" title="Altoros Team" type="application/atom+xml" />
    <title>{{page.title}}</title>
  </head>

  <body>
    <div class="wrapper">

      <section>
        <div id="title">
          <h1><a href="{{ site.url }}">Altoros Team</a></h1>
          <pre>Dir["notes/*"].each{|nn| puts File.read(nn)}</pre>
          <hr>
          <span class="credits left">Written by <a href="https://github.com/Altoros">altoros</a></span>
          <span class="credits right">Subscribe to <a href="http://feeds.feedburner.com/altoros-team">Atom feed</a>. Follow us on twitter <a href="https://twitter.com/altoros">@altoros</a></span>
        </div>
        {{content}}
      </section>

      <hr>
      <footer>
        <p>Have some thoughts to share? This blog is open! Read about <a href="https://github.com/Altoros/altoros.github.com/blob/master/CONTRIBUTING.markdown">how to contribute</a>.</p>
      </footer>
    </div>

    <script type="text/javascript">
    if (document.location.host != 'localhost') {
      try {
        var _gaq = _gaq || [];
        var pluginUrl = 'http://www.google-analytics.com/plugins/ga/inpage_linkid.js';
        _gaq.push(['_require', 'inpage_linkid', pluginUrl])
        _gaq.push(['_setAccount', 'UA-18113495-8']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = 'http://www.google-analytics.com/ga.js';

          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
        })();
      } catch (err) {}
    }
    </script>
  </body>
</html>
